main fieldset {
    display: block;
    background: white;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    min-width: 15em;
    width: 40%;
    margin-left: auto;
    margin-right: auto;

}

main form legend {
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
}

main p, main a {

    display: block;
    background: white;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;

}

main h2 {
padding: 1em;
margin-right: 2em;
width: 40%;
margin-right: auto;

}
main section > h2 {
    width: auto;
}

input[type="submit"] {
    font-family: "NexaBold";
    src: url("../fonts/nexabold.otf");
    font-size: 1rem;
    display: block;
    background: #2b00a3;
    border-radius: 1em;
    color: white;
    padding: 1em;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    
}

main h2 {
color: white;
font-size: 2em;}

main section h2:last-of-type {
font-size: 1em;
color: black;
margin-left: auto;
margin-right: auto;
    -ms-flex-item-align: center;
    align-self: center;
}

main section {
    display: block;
    background: white;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    width: 40%;
    min-width: 15em;
    margin-left: auto;
    margin-right: auto;
}

main a {
    display: block;
    color: white;
    background: #2b00a3;
    border-radius: 1em;
    padding: 1em;
    min-width: 25%;
    margin-left: auto;
    margin-right: auto;
}

main div {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

main input[type="text"]:valid, main input[type="email"]:valid, main input[type="password"]:valid {
    border-color: green;
    background-color: lawngreen;
}

main input[type="email"]:invalid {
border-color: darkred;
background-color: red;}

