main > img {
    margin: 0 auto;
    display: block;
}

body {
    background-image: url(../images/sheenachtergrond.jpg);
}

main img:first-of-type {
    display: none;
}
@media (min-width: 30rem){
    main img:first-of-type {
        display:block;
    }
    main img:last-of-type {
        display:none;
    }
}
