@font-face {
    font-family: "NexaBold";
    src: url("../fonts/nexabold.otf");
}

body {
    background-image: url("../images/beachie.jpg");
    font-family: "NexaBold";
    margin: 0;
}

main img {
    max-width: 100%;
    height: auto;
}
main > img {
    float: none;
}

#form-zoeken input[type="submit"] {
    background-color: #ff306e;
}

main section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 58em;
    margin-left: auto;
    margin-right: auto;
}

h3 {
color: #00d868;
}

main section h2 {
    width: 100%;
}

div a {
color: white;
padding: 0.75rem;
background-color: #ff306e;
border-radius: 1.5em;
text-decoration: none;
}

/* note to self: 
1. inline betekent dat ze naast elkaar gaan zweven (op 1 lijn) en block betekent dat ze onder elkaar gaan staan; 
2. 1em is gelijk aan 16px (vaak) gebruik rem, em of % en GEEN PIXELS;
 */

h2 {
    margin-left: 1em;
    margin-top: 1em;
    color: white;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
}

header form label {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

header form fieldset {
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -ms-flex-line-pack: center;
    align-content: center;
}

header form fieldset legend {
    max-height: 0;
    color: transparent;
}

article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: white;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    /* height: 16em; */
    max-width: 15em;
}
article > div {
    display: block;
}
article > div:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

article > div:first-of-type p {
    margin-bottom: 1rem;
}

article > div:first-of-type a {
    margin-top: auto;
    text-align: center;
}

article > div:last-of-type {
    min-width: 2rem;
    max-width: 2rem;
}

article > div img {
    vertical-align: center;
    width: 80%;
    padding-top: 0.5em;
}

article > div img:first-of-type {
padding-top: 1rem;}

/* article:first-of-type {
    background-image: url(../images/sheensquare.jpg);
    background-size: 17rem;
    
} */

fieldset {
    border: transparent;
}


/* Hieronder = Registreren ding en zoek + result in menu */

form input,
form label {
    display: block;
}



/* Tot hier */

footer {
    font-size: 0.6em;
}

header {
    max-height: 5rem;
    color: green;
    background-color: white;
}

header h1 {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

#form-zoeken label {
    /* https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/ */
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

#form-zoeken {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#form-zoeken input,
#form-zoeken label {
    display: inline-block;
}

@media (min-width: 30rem) {
    header img:first-of-type {
        width: 10rem;
        height: auto;
    }
}


/* Alles buiten het mooie brede menu balkje moet hier, en alles wat erin staat als ie al mooi groot is moet hieronder achter @media */

@media screen and (min-width: 20rem) {
    #form-zoeken {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #form-zoeken fieldset {
        margin: 0;
        padding: 0;
    }
    #form-zoeken fieldset legend {
        max-height: 0;
        color: transparent;
        background: none;
        padding: 0;
        margin: 0;
    }
    #form-zoeken fieldset select:first-of-type {
        border-radius: 0.5rem 0 0 0.5rem;
    }
    #form-zoeken input:last-of-type {
        border-radius: 0 0.5rem 0.5rem 0;
    }
    #form-zoeken input,
    #form-zoeken label,
    #form-zoeken select {
        -webkit-appearance: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 3rem;
        border: none;
        outline: none;
        margin: 0;
        padding: 0.5rem;
        background-color: white;
        border-radius: 0px;
    }
}

main form legend {
    display: block;
    padding: 0.2em;
    background-color: #ff306e;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    color: white;
    
}

header a:first-of-type img {
    width: 6.4em;
    height: 1.8em;
    margin-top: 1.5em;
    margin-left: 0.5em;
    
}
header > img:first-of-type {
    width: 1.5em;
    height: 1.5em;
    margin-top: 1.7em;
    margin-left: 0;
    margin-left: auto;
}

header img:last-child {
    width: 1.5em;
    height: 1.5em;
    margin-top: 1.7em;
    margin-left: -5em;
    padding-left: 1em;
}

header form input[type="text"] {
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 1.8rem;
    width: 5.2rem;
    margin-right: 5rem;
}

main p:first-child {
    text-align: center;
    color: white;
    margin-top: 2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

main section {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-line-pack: center;
align-content: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;}

